.quote-page {
    background-color: #F5F7FA;
    padding-left: 112px; // insert padding here
    padding-right: 112px; // insert padding here
    padding-top: 112px;
    height: 100vh;

    .title {
        font-size: 24px;
        font-weight: 700;
        text-align: left;
        padding-bottom: 24px;
    }
}